* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("Images/287004.jpg");
    background-size: cover; /* Ajuster la taille de l'image pour remplir complètement la fenêtre du navigateur */
    background-position: center; /* Positionner l'image au centre */
    background-repeat: no-repeat; /* Empêcher la répétition de l'image */
}

.container {
    max-width: 400px;
    text-align: center;
    width: 100%;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #2373b5;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #458cd8;
}

.sign-up-link,
.sign-in-link {
    text-align: center;
}

.sign-up-link a,
.sign-in-link a {
    color: #007bff;
    text-decoration: none;
}

.sign-up-link a:hover,
.sign-in-link a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

#panneaubienvenue {
    background-color: #f5f5f5;
    background-color: rgba(0, 0, 0, 0.1); /* Couleur de fond */
    color: #333; /* Couleur du texte */
    padding: 10px; /* Espacement interne */
    border-radius: 20px; /* Coins arrondis */
  }
  
  #panneaurevue {
    background-color: #f5f5f5;
    background-color: rgba(0, 0, 0, 0.1); /* Couleur de fond */
    color: #333; /* Couleur du texte */
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px; /* Espacement interne */
    border-radius: 20px; /* Coins arrondis */
  }

/* Stylisation des champs de saisie */
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Animation sur le bouton */
button[type="submit"] {
  background-color: #2373b5; /* Couleur de fond du bouton */
  color: white; /* Couleur du texte */
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Animation de transition */
}

/* Changement de couleur au survol du bouton */
button[type="submit"]:hover {
  background-color: #458cd8;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Garantit que la largeur inclut le padding et la bordure */
    font-size: 16px;
    color: #333; /* Couleur du texte */
    background-color: #f5f5f5; /* Couleur de fond */
}

input[type="email"],
input[type="password"] {
    /* Vos styles existants */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Ajout de la transition */
}

input[type="email"]:hover,
input[type="email"]:focus,
input[type="password"]:hover,
input[type="password"]:focus {
    background-color: rgba(245, 245, 245, 1); /* Changement de couleur de fond au survol ou focus */
    border-color: #999; /* Changement de couleur de bordure au survol ou focus */
}
